#Promo {
  text-align: center;
  padding: 40px;
}

.jumbotron {
  background: url(../../assets/img/247770567bb07e1e32cbb0e7f65318df.jpg);
}

.container {
  padding: 10px;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
}

@media (min-width:576px) {
  .jumbotron {
    padding: 12rem 6rem;
  }
}

#some {
  padding: 20px;
  background-color: #343a40;
}

#plant {
  padding: 20px;
  background-color: #343a40;
}

.simple-slider .swiper-slide {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

